<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="kpssNetTakip.Properties.Settings.kpssNetTakipConnectionString"
            connectionString="Data Source=DESKTOP-H7M3FSH\SQLEXPRESS;Initial Catalog=kpssNetTakip;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>